* {
	margin: 0;
	padding: 0;
}

.footer-section {
	padding: 20px;
	background-color: white;
}
.footer-social-icon {
	display: flex;
	justify-content: center;
}
.footer-social-icon a {
	margin: 10px;
	padding: 10px;
	font-size: 35px;
}
.footer-social-icon a:hover {
	color: purple;
}
.footer-bottom {
	padding: 10px 0;
	text-align: center;
}
