.home{
  /* height: 100vh; */
   display: flex;
  align-items: center;
  justify-content: center;  
   background-color: #fffbff;
 
 }
 .home-main{
   
   display:flex;
   justify-content: center;
   gap:30px;
   padding: 135px 55px;
   align-items: center;
 }
 .home-left{
 
   display: flex;
   flex-direction: column;
 }
 .home-content {
  font-size:30px;
   text-align:center;
 }
 span {
   color:rgb(226, 104, 226);
    font-size: 50px;
 }
 h2{
   text-align: center;
   font-size:20px;
   font-weight: 20;
 }
 
 .home-right{ 
   
   display: flex;
   
 }
 /* .home-right img{
   padding: 10px 20px 500px 10px;
 } */
 
 button {
     margin:70px 100px -50px 100px;
     padding: 10px;
     width:100px;
     height:50px;
     border: 1px solid rgb(74, 74, 67);
     border-radius: 5px;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     }
  button:hover{
     background-color:rgb(49, 49, 42) ;
     color: rgb(255, 255, 255);
   } 
   /* 0 px to 320px for very small smart phone */
   @media only screen and (min-width: 280px) and (max-width: 320px) {
     .home-right img{   
      width: 250px;
       
     }
     .home-main{  
      width:67%;
       display:flex;
       flex-direction: column;
       justify-content: center;
       gap:30px;
       padding: 135px 55px;
       align-items: center;
     }
     span {
       color:rgb(226, 104, 226);
        font-size: 50px;
     }
     h2{
       text-align: center;
       font-size:26px;
       font-weight: 20;
     }
     .home-content {
       font-size: 30px;
       text-align:center;
     }
     
 
   }
    /* 0 px to 320px for very small smart phone */

     /* 320 px to 8230px for all smart phone */
   @media only screen and (min-width: 320px) and (max-width: 823px) {
     .home-main{  
      width: 72%;
       display:flex;
       flex-direction: column;
       justify-content: center;
       gap:30px;
       padding: 135px 55px;
       align-items: center;
     }
     .home-right img{   
      width: 350px;
       
     }

     span {
       color:rgb(226, 104, 226);
        font-size: 50px;
     }
     h2{
       text-align: center;
       font-size:26px;
       font-weight: 20;
     }
     .home-content {
       font-size: 30px;
       text-align:center;
     }
     
   }
    /* 320 px to 660px for all smart phone */
     /* 660 px to 1200px for all tablet size */
   @media only screen and (min-width: 823px) and (max-width: 1200px) {
     .home-main{  
       display:flex;
       
       justify-content: center;
       gap:30px;
       padding: 135px 55px;
       align-items: center;
     }
     h1{
      font-size: 30px;
     }
     span {
       color:rgb(226, 104, 226);
        font-size: 50px;
     }
     h2{
       text-align: center;
       font-size:26px;
       font-weight: 20;
     }
     .home-content {
       font-size: 30px;
       text-align:center;
     }
     }
     /* 660 px to 1200px for all tablet size */